- var signatureWorksTechnologies = [{ label: 'ReactJS' }, { label: 'RemixJS' }, { label: 'Shopify' }, { label: 'SASS/SCSS' }, { label: 'Bootstrap' }, { label: 'Prisma' }, { label: 'MySQL' }, { label: 'Strapi (CMS)' }]
- var signatureWorksFeatures = [{ feature: 'Currently working remotely as Intern Junior Developer for developing full-stack web applications with responsive designs.' }, { feature: 'Uses Remix as backend with React JS for frontend.' }, { feature: 'Managing databases and performing (CRUD) operations using Prisma.' }, { feature: 'Making and integrating API calls to fetch and send data between frontend and backend.' }, { feature: 'Debugging and troubleshooting issues to improve application performance and UX.' }]
- var experienceData = [{company: 'Signature Works LLC', role: 'Intern Junior Developer', duration: 'Dec 2023 - Present', technologies: signatureWorksTechnologies, features: signatureWorksFeatures}]

.container 
    .wrapper 
        .experience__content
            h1.heading Experience
            .experience-details
                each data in experienceData
                    .company-info
                        div 
                            p.focus.company= data.company
                            p.focus.role= data.role  
                            p.focus.duration= data.duration
                            p.focus Technologies: 
                            .skills-container
                                each technologies, i in data.technologies
                                    div
                                        span.focus= technologies.label + (i !== data.technologies.length - 1 ? ',' : '')
                    .features-info
                        ul
                            each features in data.features
                                li= features.feature